    #paralaxsec{
        font-size: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.514);
    }

    .parallax {
  
    /* Set a specific height */
    min-height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #chandra {
        /* The image used */
        background-image: url("media/chandro.jpg");

    }
    #liliana {
        /* The image used */
        background-image: url("media/lily.jpg");

    }
    #jace {
        /* The image used */
        background-image: url("media/Oath-of-Jace-MtG-Art-Oath-of-the-Gatewatch-.jpg");

    }
    #gideon {
        /* The image used */
        background-image: url("media/oath-gideon.jpg");

    }
    #nissa {
        /* The image used */
        background-image: url("media/Oath-of-Nissa-MtG-Art-Oath-of-the-Gatewatch-.jpg");

    }